/target
.DS_Store
.idea/
.vscode/
src/.DS_Store
src/simperby-evm/client/target
src/simperby-evm/settlement/target
src/simperby-evm/contract/node_modules
src/simperby-evm/contract/cache
src/simperby-evm/contract/artifacts